html, body {
  align-content: center;
  background: #348F50;
  background: -webkit-linear-gradient(to left, #348F50, #56B4D3);
  background: linear-gradient(to left, #348F50, #56B4D3);
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  justify-content: center;
  text-shadow: 3px 3px 3px rgba(150, 150, 150, 1);
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 4.5em;
  font-weight: 400;
}

h2 {
  font-size: 2.5em;
  font-weight: 300;
}

h3 {
  font-size: 1.5em;
  font-weight: 200;
}
